.about-intro{
    height: 30vh;
    width: 100vw;
    background: url(../img/overlay/cute-plant-overlay.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &__header{
        font-size: 5rem;
        font-family: 'Cinzel';
        color: white;
    }
}

    @media #{$mobile}{
        .about-intro{
            height: 20vh;

            &__header{
                font-size: 3rem;
            }
        }
        
    }

    @media #{$tablet}{
        .about-intro{
            height: 25vh;

            &__header{
                font-size: 4rem;
            }
        }
        
    }


.about-introduction__container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;


    .about-introduction__text{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .about-introduction__header{
        font-family: 'Cinzel'; 
        font-size: 4rem;  
        text-align: center;
    }


    .about-introduction__paragraph{
        font-family: 'Open Sans', sans-serif;
        width: 50%; 
        padding-top: 4rem;   
        font-size: 1.5rem;  
        text-align: center; 
    }

    .about-introduction__photo{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-introduction-pic{
        height: 80%;
        width: 80%;
        background: url(../img/botanists.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


// will not work without !important, something in code needs to be
// fixed so that these media queries stop being unresponsive...
@media #{$mobile}{

    .about-introduction__container{
        height: 50vh;
    }

    .about-introduction__text{
        height: 75% !important;
        width: 100% !important;
    } 
    .about-introduction__photo{
        height: 25% !important;
        width: 100% !important;
    }
    .about-introduction__header{
        width: 80%;
        font-size: 2rem !important;
        
    }
    .about-introduction__paragraph{
        font-size: 1rem !important;
        width: 75% !important;
    }
    
    .about-introduction-pic{
        height: 100% !important;
        width: 100% !important;
    }


}

@media #{$tablet}{
    .about-introduction__text{
        height: 50% !important;
        width: 100% !important;
    } 
    .about-introduction__photo{
        height: 50% !important;
        width: 100% !important;
    }
    .about-introduction__header{
        width: 80%;

    }
    
}



.values-section{
    height: 10vh;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;  
    align-items: center;
}


.values-header{
    position: absolute;
    bottom: 0;
}

.values{
    font-family: 'Cinzel', serif;
    font-size: 4rem;    
}


.core-values{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);

    @media #{$mobile}{
        .core-values{
            height: 140vh;
            width: 100vw;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(10, 1fr);
        }
    }

    @media #{$tablet}{
        .core-values{
            height: 130vh;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(9, 1fr);
        }
    }
}

.values-semiotic{
    height: 30%;
    border-radius: 360%;
    }


.core-values__conservation{
    grid-column: 2/5;
    grid-row: 2/8;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;



}
    @media #{$mobile}{
        .core-values__conservation{
            grid-row: 1/3;
            grid-column: 1/12;
    
        }
    }
    @media #{$tablet}{
        .core-values__conservation{
            grid-row: 1/3;
            grid-column: 1/12;
        }
    }


.core-values__knowledge{
    grid-column: 5/8;
    grid-row: 2/8;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@media #{$mobile}{
    .core-values__knowledge{
        grid-row: 3/6;
        grid-column: 1/12;

    }
}
@media #{$tablet}{
    .core-values__conservation{
        grid-row: 3/6;
        grid-column: 1/12;
    }
}



.core-values__cultivation{
    grid-column: 8/11;
    grid-row: 2/8;
    margin: 5%;
    background: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
@media #{$mobile}{
    .core-values__conservation{
        grid-row: 6/9;
        grid-column: 1/12;

    }
}
@media #{$tablet}{
    .core-values__conservation{
        grid-row: 6/9;
        grid-column: 1/12;
    }
}




.core-value__header{
    font-family: 'Cinzel', serif;
    font-size: 3.5rem;

    @media #{$mobile}{
        .core-value__header{
            font-size: 2rem !important;
        }
    }
    @media #{$tablet}{
        .core-value__header{
            font-size: 3rem;
        }
    }

}

.core-value__paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    width: 75%;
}


/* .core-values__conservation{
    grid-column: 2/5;
    grid-row: 2/8;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media #{$mobile}{
    .core-values__conservation{
        grid-row: 1/3;
        grid-column: 1/8;

    }
}
@media #{$tablet}{
    .core-values__conservation{
        grid-row: 1/3;
        grid-column: 1/8;
    }
}

.core-values__knowledge{
    grid-row: 2/8;
    grid-column: 5/8;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    @media #{$mobile}{
        .core-values__knowledge{
            grid-row: 3/5;
            grid-column: 1/8;

        }
    }

    @media #{$tablet}{
        .core-values__knowledge{
            grid-row: 3/5;
            grid-column: 1/8;
        }
    }

    .offer-award{
        grid-row: 2/8;
        grid-column: 8/11;
        background: rgb(250, 250, 250);
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
    
        @media #{$mobile}{
            .offer-award{
                grid-column: 1/8;
                grid-row: 5/7;
            }
        }
        @media #{$tablet}{
            .offer-award{
                grid-column: 1/8;
                grid-row: 5/7;
            }
        }
    
.values-semiotic{
    height: 45%;
    border-radius: 360%;
    }
    
    
    .core-value__header{
        font-family: 'Cinzel', serif;
        font-size: 3.5rem;
     
    
    }
    
    .core-value__paragraph{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        width: 75%;
        text-align: center;
    
    }

    @media #{$mobile}{
        .core-value__paragraph{
            font-size: 1.5rem;
        }
    }
    @media #{$tablet}{
        .core-value__paragraph{
            font-size: 1.2rem;
        }
    } */ 

    
/* .core-values{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);

}

    @media #{$mobile}{
        .core-values{
            height: 140vh;
            width: 100vw;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }

    @media #{$tablet}{
        .core-values{
            height: 130vh;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }








.core-values__conservation{
    grid-column: 2/5;
    grid-row: 2/8;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    @media #{$mobile}{
        .core-values__conservation{
            grid-row: 1/3;
            grid-column: 1/8;

        }
    }
    @media #{$tablet}{
        .core-values__conservation{
            grid-row: 1/3;
            grid-column: 1/8;
        }
    }






.core-values__knowledge{
    grid-row: 2/8;
    grid-column: 5/8;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    @media #{$mobile}{
        .core-values__knowledge{
            grid-row: 3/5;
            grid-column: 1/8;

        }
    }

    @media #{$tablet}{
        .core-values__knowledge{
            grid-row: 3/5;
            grid-column: 1/8;
        }
    }

.core-values__cultivation{
    grid-row: 2/8;
    grid-column: 8/11;
    background: rgb(250, 250, 250);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

    @media #{$mobile}{
        .core-values__cultivation{
            grid-column: 1/8;
            grid-row: 5/7;
        }
    }
    @media #{$tablet}{
        .core-values__cultivation{
            grid-column: 1/8;
            grid-row: 5/7;
        }
    }






.offer-semiotic{
height: 25%;
border-radius: 360%;
}
    @media #{$mobile}{
        .offer-semiotic{
            height: 20%;
        }
    }

.offer-header{
    font-family: 'Cinzel', serif;
    font-size: 3.5rem; 
}
    @media #{$mobile}{
        .offer-header{
            font-size: 2.5rem;
        }
    }

.offer-paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    width: 75%;
    text-align: center;
}
    @media #{$mobile}{
        .offer-paragraph{
            font-size: 1.2rem;
        }
    }
    @media #{$tablet}{
        .offer-paragraph{
            font-size: 1.2rem;
        }
    }
 */



 .pfp{
     height: 70vh;
     width: 100vw;
     background: url(../img/peopleforplants.jpeg);
     background-repeat: none;
     background-size: cover;
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

        &-overlay{
            width: 80%;
            height: 80%;
            background: rgba(0,0,0,0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-h1{
            font-size: 5.5rem;
            color: white;
            width: 80%;
        }

        &-p{
            width: 75%;
            color: white;
            padding-top: 3rem;
            font-size: 2rem;


        }


    }
    

@media #{$mobile}{
    .pfp{
        height: 50vh;
 
        &-overlay{
            width: 90%;
            height: 90%;
            margin: auto;
            padding: auto;
        }

        &-h1{
            font-size: 2.5rem;
            width: 80%;
        }

        &-p{
            font-size: 1rem;
        }
 
    }

}

@media #{$tablet}{
    .pfp{
        height: 60vh;
    
        &-overlay{
            width: 85%;
            height: 85%;
        }

        &-h1{
            font-size: 4rem;
            width: 80%;
        }

        &-p{
            font-size: 1.5rem;
        }
    
    }

}

.faq{
    min-height: 100vh;
    width: 100vw;
    display: flex;


    &-img__container{
        min-height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img{
        min-height: 95%;
        width: 90%;
        background: url(../img/flowerart.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-info{
        min-height: 100%;
        width: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    &-header{
        font-size: 5rem;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
        width: 80%;
    }
    
    &-answers{
        color: rgb(134, 134, 134);
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem;
    }
    &-link{
        color: rgb(83, 83, 255);
    }


}

@media #{$mobile}{
    
    .faq{
        min-height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/flowerart.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    
    
        &-img__container{
            display: none;
        }
    
        &-img{
            min-height: 95%;
            width: 90%;
            background: url(../img/flowerart.jpeg);
        }
    
        &-info{
            min-height: 100%;
            width: 100%;
            padding: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
    
        }
        
        &-header{
            font-size: 5rem;
            margin-bottom: 3rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid black;
            width: 80%;
        }

        &-questions{
            font-size: 1.2rem;
        }
        
        &-answers{
            color: rgb(134, 134, 134);
            font-size: 1rem;
            width: 85%;
            padding: 1rem;
            padding-bottom: 3rem;
        }
        &-link{
            color: rgb(83, 83, 255);
        }
    
    
    }

}


@media #{$tablet}{

    
}