.events-intro{
    min-height: 30vh;
    width: 100vw;
    background: url(../img/overlay/waterfall-overlay.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__header{
        font-size: 5rem;
        font-family: 'Cinzel';
        color: white;
    }

    @media #{$mobile}{
        .events-intro{
            min-height: 20vh;

            &__header{
                font-size: 3rem;
            }
        }

    }
        
    @media #{$tablet}{
        .events-intro{
            min-height: 25vh;

            &__header{
                    font-size: 4rem;
            }
        }
            
    }
 
}






.events-meetings{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    


    &__nxt{
        min-height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nxt-pic{
        height: 80%;
        width: 80%;
        background: url(../img/wheat.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    @media #{$mobile}{
            
        height: 100vh;
        
            &__nxt{
                min-height: 50%;
                width: 100%;
            }
            &__nxt-pic{
                min-height: 95%;
                width: 95%;
            }
        

    }
    @media #{$tablet}{
            
        height: 100vh;
        
            &__nxt{
                min-height: 50%;
                width: 100%;
            }
            &__nxt-pic{
                min-height: 95%;
                width: 95%;
            }
        

    }

}



.next-meeting__overlay{
    height: 80%;
    width: 80%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white

}
    .next-meeting__overlay-h2{
        @include header-style;
        font-size: 4rem;
    
    }    


    .next-meeting__overlay-p1{
        padding: 3rem;
        font-size: 1.8rem;
    }

    .next-meeting__overlay-p2{
        width: 80%;
        font-size: 1.4rem;
    }

    @media #{$mobile}{
        .next-meeting__overlay{
            height: 90%;
            width: 90%;
        }
        .next-meeting__overlay-h2{
            font-size: 3rem !important;
        }

        .next-meeting__overlay-p1{
            font-size: 1.5rem !important;
            padding: 1rem;
        }

        .next-meeting__overlay-p2{
            font-size: 1rem !important;
        }
    }

    @media #{$tablet}{
        .next-meeting__overlay{
            height: 90%;
            width: 90%;
        }
        .next-meeting__overlay-h2{
            font-size: 3rem !important;
        }

        .next-meeting__overlay-p1{
            font-size: 1.5rem !important;
            padding: 2rem;
        }

        .next-meeting__overlay-p2{
            font-size: 1rem !important;
        }
    }

.events-meetings__info{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-h1{
        font-size: 5rem;
        padding-bottom: 3rem;
    }

    &-p{
        width: 80%;
    }

}

@media #{$mobile}{

    .events-meetings__info{
        height: 50%;
        width: 100%;

        &-h1{
            font-size: 3rem;
            padding-bottom: 2rem;
        }

        &-p{
            font-size: 1rem;
            width: 75%;
        }
    }

}


@media #{$tablet}{

    .events-meetings__info{
        height: 50%;
        width: 100%;

        &-h1{
            font-size: 4rem;
            padding-bottom: 2rem;
        }

        &-p{
            font-size: 1.3rem;
            width: 75%;
        }
    }
}



.programme{
    height: 100vh;
    width: 100vw;
    display: flex;

    &-info{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &-h1{

    }

    &-p{
        width: 70%;
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    &-btn{
        @include button-web;
    }

    &-btn:hover{
        background: black;
        transition: 0.2s all ease;
    }

}


.year-grid{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    &__one{
        grid-row: 2/4;
        grid-column: 2/10;
        background: url(../img/pukatea_2012.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
    }

    &__two{
        grid-row: 4/6;
        grid-column: 2/6;
        background: url(../img/Peraxilla_colensoi_2011.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
        border-radius: 1rem;
    }

    &__three{
        grid-row: 6/8;
        grid-column: 2/6;
        background: url(../img/QEII_2010.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    }

    &__four{
        grid-row: 4/8;
        grid-column: 6/10;
        background: url(../img/woodburn_mamuku_2011.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
    }

    &__five{
        grid-row: 8/10;
        grid-column: 2/10;
        background: url(../img/Eglinton_Valley_2011.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
        margin-top: 0.5rem;
    }

}




.field-trip{
    height: 100vh;
    width: 100vw;
    background: url(../img/field-trip.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &__innard{
        height: 80%;
        width: 80%;
        background: rgba(0,0,0,0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__h1{
        font-size: 5.5rem;
        color: white;
    }

    &__p{
        width: 75%;
        color: white;
        padding-top: 3rem;
        font-size: 1.5rem;
        padding-bottom: 4rem;
    }

    &__btn{
        @include button-web;
    }

    &__btn:hover{
        background: black;
        transition: 0.2s all ease;
    }


    @media #{$tablet}{
        height: 80vh;

        &__innard{
            height: 85%;
            width: 85%;
        }
    
        &__h1{
            font-size: 4rem;
        }

        &__p{
            font-size: 1.3rem;
        }
    
    
    }

    @media #{$mobile}{
        height: 60vh;

        &__innard{
            height: 90%;
            width: 90%;
        }
    
        &__h1{
            font-size: 2rem;
        }

        &__p{
            font-size: 1rem;
        }
    }


}