//item unresponsive when nested with &
//only is workin with full naming
footer{
    min-height: 50vh;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;t

    .footer-left{
        min-height: 100%;
        width: 50%;
        position: relative;

    }

    .footer-email{
        min-height: 50%;
        width: 100%;
        display: flex;        
    }

    .footer-semiotic{
        height: 2rem;
        margin-left: 3rem;
        margin-top: 3rem;
    }

    .footer-paragraph{
        color: white;
        padding-top: 3rem;
        padding-left: 1rem;
        font-size: 1.2rem;
    }

    .footer-pobox{
        position:absolute;                 
        padding: 3rem;
        width: 100%;
        color: white;
        text-align: bottom;
        margin-top: 1.5rem;

    }

    .pobox{
        line-height: 4rem;
    }











    .footer-right{
        min-height: 100%;
        width: 50%;
    }

    .footer-nav{
        float: right;
    }

    .footer-logo{
        height: 12rem;
        margin: 2rem;
        justify-content: flex-end;

    }
    
    .footer-nav__list{
        text-align: right;
        list-style: none;
        color: white;
        padding-right: 5rem;

    }

    .footer-nav__list-items{
        padding-bottom: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }




    @media #{$mobile}{
        min-height: 70vh;
        display: flex;

        .footer-left{
            height: 10%;
            width: 100%;

        }

        .footer-email{
            height: 10%;
            width: 100%;
        }

        .footer-pobox{
            height: 10%;
            width: 100%;

        }

        .pobox{
            line-height: 2rem;
        }

        .footer-right{
            height: 50%;
            width: 100%;
        }

        .footer-logo{
            height: 8rem;
            margin-top: 15rem;
        }

    }




    
    @media #{$tablet}{
        height: 50vh;

        .footer-left{
            height: 100%;
            width: 50%;
        }

        .footer-logo{
            height: 9rem;
            margin-bottom: 4.5rem;
        }
    }
}


