.membership-intro{
    height: 30vh;
    width: 100vw;
    background: url(../img/overlay/members-overlay.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &__header{
        font-size: 5rem;
        font-family: 'Cinzel';
        color: white;
    }
}

@media #{$mobile}{
    .membership-intro{
        height: 20vh;

        &__header{
            font-size: 3rem;
        }
    }
    
}

@media #{$tablet}{
    .membership-intro{
        height: 25vh;

        &__header{
            font-size: 4rem;
        }
    }
    
}

.membership-welcome__container{
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;


    .membership-welcome__info{
        min-height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .membership-welcome__header{
        font-size: 4rem;
        font-family: 'Cinzel';
        width: 50%;
        text-align: center;
    }

    .membership-welcome__paragraph{
        font-size: 1.5rem;
        font-family: 'Open sans', 'sans-serif';
        width: 60%;
        padding-top: 2rem;
    }

    .membership-welcome__signup{
        font-size: 2rem;
        font-family: 'Open sans', 'sans-serif';

    }

    .membership-arrow{
        height: 10%;
    }

    .membership-welcome__photo{
        min-height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;


        .membership-welcome__pic{
            min-height: 80%;
            width: 80%;
            background: url(../img/hiking-people__two.jpeg);
            background-position: center;
            background-size: cover;
        }
    }
}


@media #{$mobile}{

    .membership-welcome__container{
        min-height: 70vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
   
    }

    .membership-welcome__info{
        height: 100%;
        width: 100%;
    }

    .membership-welcome__photo{
        display: none;
    

        .membership-welcome__pic{
            display: none;
        }
    }

    .membership-welcome__header{
        font-size: 2rem !important;
        font-family: 'Cinzel';
        width: 100%;
        text-align: center;
    }

    .membership-welcome__paragraph{
        font-size: 1rem !important; 
        font-family: 'Open sans', 'sans-serif';
        width: 100% !important;
        padding-top: 2rem;
    }
    
}

@media #{$tablet}{

    
}



.membership-break{
    height: 30vh;
    width: 100vw;
    background: url(../img/fernview.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media #{$tablet}{
    .membership-break{
        height: 25vh;
    }
    
}

@media #{$mobile}{
    .membership-break{
        height: 20vh;
    }   
}


.membership-form__container{
    height: 140vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;    


    .membership-form__right{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;



        .form-right__info{
            height: 40%;
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            .form-right__header{
                font-size: 3.5rem;
                font-family: 'Cinzel';
                width: 90%;
            }

            .form-right__paragraph{
                font-size: 1.5rem;
                font-family: 'Open sans', 'sans-serif';
                width: 70%;
                padding-top: 1rem;
            }
        
        }


        .form-right__photo{
            height: 60%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .form-right__pic{
                height: 100%;
                width: 80%;
                background: url(../img/contact.jpeg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

            }


        }


    }
}


@media #{$mobile}{
    .membership-form__container{
        min-height: 120vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    

    .membership-form__right{
        min-height: 40%;
        width: 100%;
    }
    .membership-form__left{
        min-height: 60%;
        width: 100%;

    }
    .form-right__header{
        font-size: 2rem !important;
        font-family: 'Cinzel';
        width: 90%;
    }

    .form-right__paragraph{
        font-size: 1rem !important;
        font-family: 'Open sans', 'sans-serif';
        width: 70%;
        padding-top: 1rem;

    }
}


.membership-form__left{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    
    .membership-form__left-title{
        height: 2rem;
        width: 27rem;
        margin: 0.5rem;
    }


}

.membership-form__left-text{
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.membership-form__container-fillin{
    height: 70%;
    width: 53%;
}
.input-membership{
    padding: 0.2rem;
}

label{
    font-family: 'Open sans', 'sans-serif';   
}

.membership-form__left-radio{
    margin-bottom: 1rem;

}

.input-membership__id{
    padding-bottom: 1rem;
}
input[type=file]{
    padding-top: 1rem;
    font-size: 1rem;
   
}
.payment{
    height: 16rem;
    width: 28rem;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.payment-icons{
    height: 2.5rem;
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1.5rem;
}

.payment-icons__img{
    height: 100%;
}


.deets{
    margin-top: 1.5rem;


}

.deets-two{
    margin-bottom: 1.5rem;    
}

.membership-submit{
    @include button-web;
    font-size: 1rem;
    width: 10rem;
}

.payment-details{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




    &__one{
        width: 22rem;
        padding: 0.5rem;

    }

    &__two{
        width: 22rem;
        padding: 0.5rem;
        margin-top: 1rem;        
    }
}

.payment-details__div-two{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

}

.payment-details__three{
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 10.5rem;
}

.payment-details__four{
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: 10.5rem;
}